# Virtual Environment
venv/
.venv/
env/

# Environment Variables & Secret Keys
.env

# Python Caches
__pycache__/
*.pyc

# Local Database
db.sqlite3

# Static files
staticfiles/

# IDE Settings
.vscode/
.idea/